<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" content="Front End Developer - Carlos Hernández" />
    <meta
      name="description"
      content="I’m a writer and an economist, but I also do web development. Check out the fun things I've build"
    />
    <meta name="keywords" content="developer, remote, react" />
    <meta name="language" content="English" />

    <meta property="og:title" content="Front End Developer - Carlos Hernández"">
    <meta
      property=" og:description"
      content="I’m a writer and an economist, but I also do web development. Check out the fun things I've build"
    />
    <meta property="og:url" content="https://carlos815.github.io/portfolio/" />
    <meta
      property="og:site_name"
      content="Front End Developer - Carlos Hernández"
    />
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:description"
      content="I’m a writer and an economist, but I also do web development. Check out the fun things I've build 😇"
    />
    <meta name="twitter:title" content="Front End Developer - Carlos
    Hernández"">
    <meta name=" twitter:site" content="@carlos_t815" />

    <title>Front End Developer - Carlos Hernández</title>
  </head>

  <body>
    <%- include components/header.ejs %>
    <header class="page">
      <h1 class="selected">Hey, I'm Carlos Hernández</h1>
      <div class="about-me">
        <p class="comment">//To skip the animations just click anywhere</p>

        <p>I’m a front end developer.</p>
        <p>I have used React, Flutter, and Python to build some cool stuff.</p>
      </div>
      <p class="scroll">THE PORTFOLIO IS DOWN HERE!</p>
    </header>
    <section class="page"><%- include stack.ejs %></section>
    <section class="page vue-streaming">
      <h1>Webpage built with Vue</h1>

      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/vuestreaming.svg').default%>"
            alt="pomodoro vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>API-based architecture using axios.</p>
          <p>
            The information is loaded dynamically depending on the information
            received from the server.
          </p>
          <p>
            <a href="https://carlos815.github.io/web-vue-livestreaming"
              >Live demo</a
            >
          </p>
          <p>
            <a href="https://github.com/carlos815/web-vue-livestreaming"
              >Source code</a
            >
          </p>
        </div>
      </div>
    </section>
    <section class="page pomodoro">
      <h1>Pomodoro webpage build with react</h1>

      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/pomodoro.svg').default%>"
            alt="pomodoro vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>A pomodoro webpage with neumorphic design.</p>
          <p>The page uses only CSS to achieve these visuals.</p>
          <p><a href="https://tomate.netlify.app/">Live demo</a></p>
          <p>
            <a href="https://github.com/carlos815/pomodoro">Source code</a>
          </p>
        </div>
      </div>
    </section>
    <section class="page las-lucas-web">
      <h1>Landing Page build with Gatsby</h1>

      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/quizzpipe.svg').default%>"
            alt="smartphone vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>A responsive landing page with a modern design</p>
          <p>
            The images are optimized via gatsby-image for faster loading, and
            has full CSM support.
          </p>
          <p><a href="https://quizpipe.io/">Check it out</a>.</p>
        </div>
      </div>
    </section>
    <section class="page las-lucas-web">
      <h1>Las Lucas WPA</h1>

      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/laslucaswpa.svg').default%>"
            alt="smartphone vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>
            A Progressive Web App build with
            <strong>html, css and js</strong> that shows the price of the dollar
            against the Venezuelan local currency according to different
            sources.
          </p>

          <p>It has offline support and a nice calculator.</p>
          <p><a href="https://laslucas.com">Check it out</a></p>
        </div>
      </div>

      <button
        aria-pressed="false"
        aria-label="Show more information"
        class="small"
      >
        HOW DOES IT WORK?
      </button>

      <div class="long-description hidden">
        <p>
          This site has undergone countless optimizations to keep the servers
          going while the user base grows.
        </p>
        <p>
          Since it doesn't use any framework, I had to program my own simple
          state manager.
        </p>
        <p>
          It uses <strong>gulp</strong> to compress resources, and
          <strong>critical.js</strong> to be able to show styled content even
          before the CSS has loaded.
        </p>
        <p>
          It reports errros automatically via
          <strong>Firebase Analytics</strong>.
        </p>
        <p>
          The site connects to a <strong>Firebase Database</strong> to get the
          data, which gets updated regularily by a separate web scrapper script
          build in <strong>Node.js.</strong>
        </p>
      </div>
    </section>

    <section class="page las-lucas">
      <h1>Las Lucas for Android</h1>

      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/laslucas.svg').default%>"
            alt="smartphone vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>
            This is the predecessor to the WPA version. It's build with
            <strong>Flutter</strong>.
          </p>
          <p>
            It's on
            <a
              href="https://play.google.com/store/apps/details?id=com.carlos.laslucas"
              >Google Play</a
            >
          </p>
        </div>
      </div>

      <button
        aria-pressed="false"
        aria-label="Show more information"
        class="small"
      >
        HOW DOES IT WORK?
      </button>

      <div class="long-description hidden">
        <p>It connects to the same Firebase Database as the web version.</p>

        <p>It uses <strong>Provider</strong> as a state management solution.</p>
      </div>
    </section>
    <section class="page books">
      <h1>Book Finder App with Redux</h1>
      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/letras.svg').default%>"
            alt="smartphone vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>Search any book using the google books API</p>
          <p>
            <a href="https://pedantic-feynman-eb9538.netlify.app/">Live demo</a>
          </p>
        </div>
      </div>
      <button
        aria-pressed="false"
        aria-label="Show more information"
        class="small"
      >
        HOW DOES IT WORK?
      </button>

      <div class="long-description hidden">
        <p>
          The Redux manages the requests with async thunks. It uses Slices and
          Entity Adapters for extra simplicity.
        </p>

        <p>
          The source code is
          <a href="https://github.com/carlos815/letras-redux">here.</a>
        </p>

        <p>
          The idea for this project was taken
          <a
            href="https://github.com/florinpop17/app-ideas/blob/master/Projects/2-Intermediate/Book-Finder-App.md"
            >from here.</a
          >
        </p>
      </div>
    </section>
    <section class="page cc-clone">
      <h1>Caracas Chronicles remake in React</h1>
      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/cc.svg').default%>"
            alt="smartphone vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>
            A completely responsive clone of a WordPress news website made with
            React.
          </p>
          <p>
            <a href="https://carlos815.github.io/CC-clone/">Link to the page</a>
          </p>
        </div>
      </div>
      <button
        aria-pressed="false"
        aria-label="Show more information"
        class="small"
      >
        HOW DOES IT WORK?
      </button>

      <div class="long-description hidden">
        <p>
          Leveraging the WordPress API, I created a clone website that keeps
          itself updated with the infromation from the real site.
        </p>

        <p>
          Even thought it is a pixel-perfect recreation of the original Caracas
          Chronicles, It doesn't use any of the source code.
        </p>

        <p>
          For a longer explanation and the source code
          <a href=" https://github.com/carlos815/CC-clone/blob/master/README.md"
            >go here.</a
          >
        </p>
      </div>
    </section>

    <section class="page form">
      <h1>Form builder</h1>
      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/json.svg').default%>"
            alt="smartphone vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>This webpage generates a form from a json file.</p>
          <p>
            <a href="https://carlos815.github.io/form-practice/"
              >Check it out</a
            >
          </p>
        </div>
      </div>

      <button
        aria-pressed="false"
        aria-label="Show more information"
        class="small"
      >
        HOW DOES IT WORK?
      </button>

      <div class="long-description hidden">
        <p>
          Build with React. You can specify the number of tabs and the fields,
          and the page will adapt to keep everything looking neat.
        </p>

        <p>
          It was made based only on
          <a
            href="https://dribbble.com/shots/10046374-Formulario/attachments/2064937?mode=media"
            >this image.</a
          >
        </p>
      </div>
    </section>

    <section class="page bit">
      <h1>Bit Ninja</h1>
      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/bit.svg').default%>"
            alt="smartphone vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>
            This is an Android 2D platformer. I made the art (graphics,
            animations and music), and designed the UX and UI.
          </p>
          <p>
            <a
              href="https://play.google.com/store/apps/details?id=com.InmigracionDigital.BitNinja&hl=en_US"
              >Google Play</a
            >
          </p>
        </div>
      </div>

      <button
        aria-pressed="false"
        aria-label="Show more information"
        class="small"
      >
        HOW DOES IT WORK?
      </button>

      <div class="long-description hidden">
        <p>
          Made with Unity. This was a two-man project. I used Figma, Photoshop,
          Affinity Designer, Asesprite, and FL Studio.
        </p>

        <p>
          We used Unity's built in git functionality and Trello to divide tasks
          and manage the project
        </p>
      </div>
    </section>
    <section class="page this-site">
      <h1>This site</h1>
      <div class="image-and-description">
        <figure>
          <img
            src="<%=require('../images/portfolio.svg').default%>"
            alt="smartphone vector"
            srcset=""
          />
        </figure>
        <div class="description">
          <p>You are welcomed to check out the source code for this site.</p>
          <p>
            <a href="https://github.com/carlos815/portfolio"
              >It's all commented and stuff</a
            >
          </p>
        </div>
      </div>

      <button
        aria-pressed="false"
        aria-label="Show more information"
        class="small"
      >
        HOW DOES IT WORK?
      </button>

      <div class="long-description hidden">
        <p>
          A previous version of this used GreenSock, but now it's all vainilla
          Js.
        </p>
        <p>I'm using webpack to mantain everything organized.</p>

        <p>
          The CSS uses variables for the colors, and I'm modifying that to
          switch between the different themes.
        </p>
      </div>
    </section>

    <section class="page">
      <h1 class="selected">Cool! Huh?</h1>
      <h1 class="selected">:)</h1>
      <div class="about-me">
        <p class="available">🟢 I'm probably online right now.</p>
        <p>I'm in the Bogotá timezone (UTC-5).</p>
        <p>
          Find me at:
          <a href="mailto:carlos_t815@outlook.com">carlos_t815@outlook.com</a>
        </p>
      </div>
    </section>
  </body>
</html>
